MONGODB_URI="mongodb+srv://<username>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority"
MONGODB_DB_NAME="firstlookstudio"
NEXT_PUBLIC_APP_URL="https://firstlookstudio.click"
NEXTAUTH_SECRET="a-long-random-secret"
NEXTAUTH_URL="https://firstlookstudio.click"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="123456"
# Optional email provider
SENDGRID_API_KEY=""
SENDER_EMAIL="no-reply@firstlookstudio.click"
